---
import AnimationToggle from '../../components/AnimationToggle.astro';

const { Component, props, pageSettings } = Astro.props;
const {
  id,
  layout,
  highlightedText,
  mediaType,
  media,
  txtColor,
  bgColor,
  ctaText,
  link,
  backgroundMedia,
  imgBg: imgBgLegacy,
  overlay,
  body,
  animations = true
} = props;

const globalAnimationMode = pageSettings?.animations || 'enable_all';

let shouldDisableAnimations;

switch (globalAnimationMode) {
  case 'enable_all':
    shouldDisableAnimations = false;
    break;
  case 'disable_all':
    shouldDisableAnimations = true;
    break;
  case 'custom':
    shouldDisableAnimations = !animations;
    break;
  default:
    shouldDisableAnimations = false;
}

let img;
if (media && mediaType === 'image') {
  img = /^https?:\/\//i.test(media) ? media : new URL(media.replace(/^\/+/, ''), new URL(import.meta.env.BASE_URL, 'http://local')).pathname;
}

let imgBg;
let videoBg;

if (backgroundMedia && backgroundMedia.length > 0) {
  const bgMedia = backgroundMedia[0];
  if (bgMedia.type === 'backgroundImage' && bgMedia.imgSrc) {
    imgBg = bgMedia.imgSrc;
    imgBg = /^https?:\/\//i.test(imgBg) ? imgBg : new URL(imgBg.replace(/^\/+/, ''), new URL(import.meta.env.BASE_URL, 'http://local')).pathname;
  } else if (bgMedia.type === 'backgroundVideo' && bgMedia.videoSrc) {
    videoBg = bgMedia.videoSrc;
    videoBg = /^https?:\/\//i.test(videoBg) ? videoBg : new URL(videoBg.replace(/^\/+/, ''), new URL(import.meta.env.BASE_URL, 'http://local')).pathname;
  }
} else if (imgBgLegacy) {
  imgBg = /^https?:\/\//i.test(imgBgLegacy) ? imgBgLegacy : new URL(imgBgLegacy.replace(/^\/+/, ''), new URL(import.meta.env.BASE_URL, 'http://local')).pathname;
}
---
<AnimationToggle disabled={shouldDisableAnimations}>
  <section id={id} style={`background-color: var(--clr-bg);`}>
    <Component
      layout={layout}
      highlightedText={highlightedText}
      media={mediaType === 'image' ? img : media}
      mediaType={mediaType}
      text={ctaText}
      link={link}
      imgBg={imgBg}
      videoBg={videoBg}
      txtColor={txtColor}
      bgColor={bgColor}
      overlay={overlay}
    >
      {body && <Fragment set:html={body} />}
      <slot />
    </Component>
  </section>
</AnimationToggle>
